<div class="container">
  <h1>Task Form</h1>
  <form [formGroup]="taskForm">
    <div class="mb-3">
      <label for="" class="form-label">Firstname</label>
      <input type="text" placeholder="Enter Your Name...... " class="form-control" id="firstname" formControlName="firstname">
      <span *ngIf="firstname && firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
        <span *ngIf="firstname.errors?.['required']"> This Field is Required</span>
        <span *ngIf="firstname.errors?.['pattern']">Name Should be A to Z Characters</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Mobile No.</label>
      <input type="mobile" class="form-control" id="mobile" placeholder="Enter Your Number : 1234567890" formControlName="mobile">
      <span *ngIf="mobile && mobile.invalid && (mobile.dirty || mobile.touched)" class="text-danger">
        <span *ngIf="mobile.errors?.['required']"> This Field is Required</span>
        <span *ngIf="mobile.errors?.['pattern']">Please Enter Valid Number</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email">
      <span *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-danger">
        <span *ngIf="email.errors?.['required']"> This Field is Required</span>
        <span *ngIf="email.errors?.['pattern']">Please Enter Valid Email</span>
      </span>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()"  [disabled]="!taskForm.valid" *ngIf="isSave">Add</button>
    <button type="button" class="btn btn-primary" (click)="onUpdate()"  [disabled]="!taskForm.valid" *ngIf="isUpdate">Update</button>
  </form>
  <table class="table table-hover">
    <thead  class=" table-dark">
      <tr>
        <th>Username</th>
        <th>Mobile No.</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tasks of taskList; let i = index ">
        <td>{{tasks.firstname}}</td>
        <td>{{tasks.mobile}}</td>
        <td>{{tasks.email}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="onEdit(i)">Edit</button>
          <button class="btn btn-outline-danger" (click)="onDelete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>